{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
Log/Sign in
{% endblock %}
{% block main-body %}
<div class="container h-100 align-items-center mt-3" >
  <div class="row align-items-center">
    <div class="col" >
      <div class="card rounded-pill shadow p-5 mb-8 border-0 text-white" style="width: 35rem; margin: 0 auto; background-color: #003355; foreground-color: #FFFFFF;">
        <div class="card-body text-center">
          <h4 class="card-title text-center display-4">Login</h4>
          <br />
              <form action='' method="Post">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                <button type="submit" class="btn btn-outline-success rounded-pill">Login</button>
              </form>
        </div>
      </div>
      </div>
    </div>
{% endblock %}