{% extends 'base.html' %}

{% block title %}
List Page
{% endblock %}

{% block main-body %}
<style>
.m1{
  margin-bottom: 20px;
}
</style>
{% if user.is_authenticated %}
<div class="text-right">
  <a class="btn btn-success mb-2" href="{% url 'form' %}">Create</a>
</div>
{% endif %}
<div class="container">
  <div class="row">
  {% for obj in object_list %}

    <div class="col-sm-4">
    <a href="#" class="text-decoration-none ">

    <div class="card m1 ex2" style="width: 20rem;">
    {% if obj.image %}<img src="{{obj.image.url}}" class="card-img-top" alt="...">{% endif %}
    <div class="card-body">
    <h5 class="card-title">{{obj.title}}</h5>
    </a>
    <p class="card-text">{{obj.description}}</p>
    <a href="{% url 'detail' obj.pk %}" class="btn btn-primary">read more</a>
  </div>
  
</div>
    </div>
  {% endfor %}
  </div>
</div>



{% endblock %}
