{% load static bootstrap4 tz %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>
  {% block title %}
  Blog Title
  {% endblock %}

  </title>
</head>

<body>
{% timezone "Asia/Kathmandu" %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-3">
    <a class="navbar-brand" href="{% url 'homepage'%}">BlogPost</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list' %}"><b>Blogs</b></a>
        </li>
      </ul>
      <div>
      {% if user.is_authenticated %}
        <span class="text-white mr-2">welcome {{user.username}}</span>
        <button class="btn btn-danger my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal">Logout</button>
      {% else %}
        <a class="btn btn-success my-2 my-sm-0" href="{% url 'login' %}">Login</a>
      {% endif %}
      </div>

    </div>
  </nav>
  <div class='container'>
  {% bootstrap_messages %}
  {% block main-body %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
  </div>

  {% endtimezone %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'jquery-3.3.1.slim.js' %}"></script>
  <script src="{% static 'popper.js' %}"></script>
  <script src="{% static 'bootstrap.js' %}"></script>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        are you sure ??
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" href="{% url 'logout'%}">Logout</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
